<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
	<body>
		<img src="https://www.fax2dc.com/images/FAXLOGO1.png" style="height:150px;">
		{{{faxContent}}}
		<img src="https://s3.amazonaws.com/novollc/images/novo/logo-w.png" style="height:150px;">
	</body>
</html>