<div style="height:100vh">
	<p>Congratulations {{name}}, your fax has been sent.</p>
	<p>Message your reps for a follow up, if you need help, <a href="#">contact us</a>. We will work with you to bring about just representation.</p>
	<p>rep info</p>
	<h3><a href="http://www.fax2dc.com/fax/{{id}}">link to fax</a></h3>
	<div>
		<p>{{faxContent}}</p>
		<p>{{legislator}}</p>
		<p>share</p>
	</div>
	<p>it's our civic duty to engage with our representatives. With just service to our unity and to our nation we will prosper.</p>
</div>
