<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="static/css/home.css" rel="stylesheet" type="text/css"/>
		<link href="static/css/responsive.css" rel="stylesheet" type="text/css"/>
		<link href="static/css/animate.min.css" rel="stylesheet" type="text/css"/>
		<link href='http://fonts.googleapis.com/css?family=Lato:400,100,300,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300,200' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700' rel='stylesheet' type='text/css'>
		<link href="static/css/font-awesome.min.css" rel="stylesheet" media="screen">
		<script type="text/javascript" src="static/js/smoothscroll.js"></script>
		<script src="static/js/jquery.min.js"></script>
		<script src="static/js/email.js"></script>

	</head>

	<body>
    
    	<div class="banner">
        	<div class="container">
            	<div class="banner-text">
                	<h2 class="tagline">Welcome <span>to</span> NOVO</h2>
                    <p class="under-tagline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis faucibus leo. <br/> Ut ac arcu a diam mollis semper.</p>
                    <a><button class="mainbutton">Learn More</button></a>
                </div>
            </div>
        </div>
    
    	<div class="services" id="service">
        	<div class="container">
            	<div class="section-head">
                	<h3>Our Services</h3>
                </div>
                <div class="services-list">
					<div class="row">
						<div class="col-md-4">
							<i class="fa fa-paint-brush fa-5x"></i>
							<h2>Design</h2>
							<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							Pellentesque molestie mauris nec tellus eleifend, at vulputate augue posuere. 
							Donec aliquam urna vel lacus vehicula tristique. 
							Donec non sodales odio. Ut a cursus dui. 
							</p>
						</div>
						<div class="col-md-4">
							<i class="fa fa-code fa-5x"></i>
							<h2>Development</h2>
							<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							Pellentesque molestie mauris nec tellus eleifend, at vulputate augue posuere. 
							Donec aliquam urna vel lacus vehicula tristique. 
							Donec non sodales odio. Ut a cursus dui. 
							</p>
						</div>
						<div class="col-md-4">
							<i class="fa fa-users fa-5x"></i>
							<h2>Marketing</h2>
							<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							Pellentesque molestie mauris nec tellus eleifend, at vulputate augue posuere. 
							Donec aliquam urna vel lacus vehicula tristique. 
							Donec non sodales odio. Ut a cursus dui. 
							</p>
						</div>
					</div>
                </div>
            </div>
        </div>
    
    	<div class="desc" align="center">
        	<div class="container">
            	<h3>Meet The Team</h3>
				<div id="team">
					<div class="col-md-3">
						<img src="static/img/team/val.png" />
						<h2>Front-End <br> Development</h2>
					</div>
					<div class="col-md-3">
						<img src="static/img/team/garrett.png" />
						<h2>Marketing</h2>
					</div>
					<div class="col-md-3">
						<img src="static/img/team/trevor.png" />
						<h2>Back-End <br> Development</h2>
					</div>
					<div class="col-md-3">
						<img src="static/img/team/mikey.png" />
						<h2>Design</h2>
					</div>
				</div>
            </div>
			<button class="mainbutton">Learn More</button>
        </div>
    
    	<div class="about" id="about" align="center">
        	<div class="container">
            	<div class="section-head">
                	<h3>The Blog</h3>
                </div>
                <div class="blog">
					<div class="row">
						<div id="post" class="col-md-4">
							<h2>Post</h2>
							<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							Pellentesque molestie mauris nec tellus eleifend, at vulputate augue posuere. 
							Donec aliquam urna vel lacus vehicula tristique. 
							Donec non sodales odio. Ut a cursus dui. 
							</p>
						</div>
						<div id="post" class="col-md-4">
							<div id="post_title">
								<h2>Post</h2>
							</div>
								<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
								Pellentesque molestie mauris nec tellus eleifend, at vulputate augue posuere. 
								Donec aliquam urna vel lacus vehicula tristique. 
								Donec non sodales odio. Ut a cursus dui. 
								</p>
						</div>
						<div id="post" class="col-md-4">
							<h2>Post</h2>
							<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							Pellentesque molestie mauris nec tellus eleifend, at vulputate augue posuere. 
							Donec aliquam urna vel lacus vehicula tristique. 
							Donec non sodales odio. Ut a cursus dui. 
							</p>
						</div>
					</div>
				<button class="mainbutton">Read More</button>
                </div>
            </div>
        </div>
    
    	<div class="contact" id="contact">
        	<div class="container">
            	<div class="section-head">
                	<h3>Join <span>The NOVO Experience</span></h3>
                </div>
                <div class="contact-section" align="center">
					<form class="ctr" action="#" method="#">
						<div class="loader"></div>
						<input type="text">
						<div class="indicator" data-content="Type Your Email Address"></div>
					</form>
                </div>
            </div>
        </div>

		
	</body>
</html>
