<!DOCTYPE html>
<html ng-app="novo" ng-controller="AppCtrl">
    <head>
        <title>NOVO</title>
        <base href="/">
        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">


        <!--STYLES-->
        <link rel="stylesheet" href="/styles/importer.css">
        <!--STYLES END-->


    </head>
<body>
    
    <%- body %>

    <!--SCRIPTS-->
    <script src="/static/bower_components/angular/angular.js"></script>
    <script src="/static/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/static/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/static/bower_components/sails.io.js/dist/sails.io.js"></script>
    <script src="/static/bower_components/angularSails/dist/ngsails.io.js"></script>
    <script src="/static/bower_components/lodash/lodash.js"></script>
    <script src="/static/bower_components/moment/moment.js"></script>
    <script src="/static/bower_components/angular-moment/angular-moment.js"></script>

    <script src="/static/src/app/about/index.js"></script>
    <script src="/static/src/app/app.js"></script>
    <script src="/static/src/app/about/index.js"></script>
    <script src="/static/src/app/blog/index.js"></script>
    <script src="/static/src/app/contact/index.js"></script>
    <script src="/static/src/app/home/index.js"></script>
    <script src="/static/src/app/sidebar/index.js"></script>

    <script src="/static/src/common/models/index.js"></script>
    <script src="/static/src/common/models/post.js"></script>
    <script src="/static/src/common/services/config.js"></script>
    <script src="/static/src/common/services/index.js"></script>
    <script src="/static/src/common/services/lodash.js"></script>
    <script src="/static/src/common/services/title.js"></script>
    <script src="/static/src/common/services/utils.js"></script>
    <!--SCRIPTS END-->
</body>
</html>