<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="static/css/home.css" rel="stylesheet" type="text/css"/>
		<link href="static/css/responsive.css" rel="stylesheet" type="text/css"/>
		<link href="static/css/animate.min.css" rel="stylesheet" type="text/css"/>
		<link href='http://fonts.googleapis.com/css?family=Lato:400,100,300,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300,200' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700' rel='stylesheet' type='text/css'>
		<link href="static/css/font-awesome.min.css" rel="stylesheet" media="screen">


	</head>

<body>
    
    	<div class="services" id="service" >
        	<div class="container">
            	<div class="section-head " >
                	<h2 class="decorated"><span>The NOVO Team</span></h2>
                </div>
            </div>
        </div>
    
		<div id="home2">
			<div class="desc" align="center">
				<div class="container">
					<div id="team">
						<div class="col-md-3">
							<img src="static/img/team/val.png" />
							<h2>Valentino</h2>
							<h2 style="color: #BDBDBD">Front-End <br> Development</h2>
						</div>
						<div class="col-md-3">
							<img src="static/img/team/garrett.png" />
							<h2>Garrett</h2>
							<h2 style="color: #BDBDBD">Marketing and <br> Content</h2>
						</div>
						<div class="col-md-3">
							<img src="static/img/team/trevor.png" />
							<h2>Trevor</h2>
							<h2 style="color: #BDBDBD">Back-End <br> Development</h2>
						</div>
						<div class="col-md-3">
							<img src="static/img/team/mikey.png" />
							<h2>Michael</h2>
							<h2 style="color: #BDBDBD">Front-End and <br> Design</h2>
						</div>
					</div>
				</div>
			</div>
		</div>	

    
    	<div class="contact" id="contact">
        	<div class="container">
            	<div class="section-head">
                	<h3>Join The NOVO Experience</h3>
                </div>
                <div class="contact-section" align="center">
					<form class="ctr" action="#" method="#">
						<div class="loader"></div>
						<input type="text">
						<div class="indicator" data-content="Type Your Email Address"></div>
					</form>
                </div>
            </div>
        </div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" type="text/javascript"></script>
		<script>window.jQuery || document.write('<script src="static/js/jquery-2.1.4.min"><\/script>')</script>
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!--[if lt IE 9]>
			 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<![endif]-->
		<script src="static/js/blog.js" type="text/javascript"></script>
		
</body>
</html>
