<!--if logged in-->
<div style="height:100px;"></div>
<div ng-show="currentUser">
  <button class="btn btn-primary blog-button" ng-click="new_post_toggle()">+ post</button>
  <br><br>
</div>
<div ng-show="currentUser">
  <div ng-show="new_post">
    <div>
      <form class="blog-input" role="form" ng-submit="createPost(newPost)">
        <div class="form-group">
          <input type="text" placeholder= "post title" ng-model="newPost.title" class="form-control" id="postTitle">
          <input type="text" placeholder= "post url" ng-model="newPost.url_title" class="form-control" id="postTitle">
          <textarea placeholder= "post content" ng-model="newPost.post_content" class="form-control" id="postContent"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
<!--/if logged in-->

<div itemscope itemtype="Article" class="post-list-container">
  <br><br>
  <div itemprop="SocialMediaPosting" class="post-container" ng-repeat="post in posts | orderBy:'-createdAt'">
    <h1 itemprop="BlogPosting" class="title"><a href="/blog/{{post.url_title}}">{{post.title}}</a></h1>
  </div>
  <br><br>
</div>


<div style="height:100px;"></div>