.about-outter {
    display:inline-block;
    height:100%;
    width:100%;
    position: relative;
}

.about-outter * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.about-col .card {
    height: 100%;
    width: 100%;
    margin: 0!important;
    display: block;
}

.about-title {
    font-family: 'Monda', sans-serif;
    letter-spacing: 5px;
    font-size: 2.5em;
    font-weight: 100;
    padding-top: 35px;
    padding-bottom: 10px;
    right: 0;
    left: 0;
    text-transform: uppercase;
}

.about-desktop {
    height:75vh;
}

.about-title span {
    color: #14B795;
}

.about-title strong {
    color: #0F0F0F;
}

.about-desc {
    font-family: 'Monda', sans-serif;
    color:#101010;
    width:80%;
    font-weight: bold;
    font-size: 1.4em;
    padding-bottom: 35px;
    margin: 5px auto 25px auto;
}

.about-topping {
    display:inline-block;
    border-top: 3px solid #14B795;
    height:100%;
    width:100%;
}   

.about-col {
    padding: 0!important;
}

figure.about-cards * {
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out
}

figure.about-cards {
    font-family: 'Quicksand',sans-serif;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top:0;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    height: 60vh;
}

figure.about-cards:hover h2 {
    color: #14B795;
}

figure.about-cards.card-design {
    background: url(/images/util/overlay.png), url(/images/home/design.jpg);
    background-size: cover;
}

figure.about-cards.card-development {
    background: url(/images/util/overlay.png), url(/images/home/development.jpg);
    background-size: cover;
}

figure.about-cards.card-marketing {
    background: url(/images/util/overlay.png), url(/images/home/marketing.jpg);
    background-size: cover;
}

figure.about-cards h2 {
    letter-spacing: 10px;
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.about-card__front,.about-card__back {
    cursor:pointer;
    position: relative;
    top: 0;
    left: 0;
    height: 60vh;
}

.about-card__front,.about-card__back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s
}

.about-card__front {
    background-color: #000
}

.about-card__back {
    position: absolute;
    background-color: #fff;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg)
}

.about-card__back p {
    font-size: 1.15em;
    width: 85%;
    margin: 10% auto;
    line-height: 40px;
}

input[type="checkbox"] {
    position: absolute;
    left: -9999px
}

input[type="checkbox"]:checked + .child .about-card__front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg)
}

input[type="checkbox"]:checked + .child .about-card__back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0)
}

.ctr input:focus {
    outline: none;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,.15);
    width: 0;
    z-index: 99;
    pointer-events: none;
    -webkit-transition: 3s all ease;
    transition: 3s all ease;
}

.loader.full {
    width: 100%;
}

.loader.done {
    background: #e74c3c;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    height: 0;
}

.ctr input {
    line-height: 80px;
    width: 100%;
    font-size: 24px;
    padding: 0 20px;
    border: none;
    cursor: pointer;
    color: #000;
    position: relative;
    z-index: 10;
    background: transparent;
    color: transparent;
    font-weight: 300;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
}

.ctr input.full {
    pointer-events: none !important;
    width: 0;
}

.indicator {
    font-family: 'Quicksand',sans-serif;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 5px;
    background: #2AB996;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    z-index: 9;
}

.indicator:after {
    content: attr(data-content);
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    bottom: 0;
    color: #000;
    -webkit-transition: inherit;
    transition: inherit;
    font-size: 1.5em;
    z-index: 999;
    text-align: center;
    font-weight: 300;
}

.ctr input:focus {
    color: #fff;
}

.ctr input:focus + .indicator {
    height: 100%;
}

.ctr input.full:focus + .indicator {
    height: 5px;
    color: #2AB996;
}

.ctr input:focus + .indicator:after {
    color: #2AB996;
}

.about-topping .ctr {
    display: block;
    position: relative;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 900px) {
    .indicator:after {
        content:attr(data-content);
        position:absolute;
        top:-80px;
        left:0;
        right:0;
        bottom:0;
        color:white;
        -webkit-transition:inherit;
        transition:inherit;
        font-size:1em;
        z-index:999;
        text-align:center;
        font-weight:300;
    }
}