.about {
	width:100%;
	background:url(/images/texture-bg.png) repeat;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.about-section-head {
	padding:100px 0 30px;
}

.about-section-head h3 {
	font-family:Jura;
	color:#000;
	font-size:4em;
	font-weight:600;
	margin-left:auto;
	margin-right:auto;
}

.about-section-head p {
	color:#737373;
	font-size:14px;
	width:60%;
	font-family:'Open Sans',sans-serif;
	line-height:20px;
	margin-top:15px;
}

.about-list i {
	color:#2AB996;
	padding-bottom:25px;
}

.about-list {
	padding-bottom: 100px;
}

.about-title h2 {
	font-family: 'Quicksand', sans-serif;
	font-size: 3em !important;
	font-weight: 300 !important;
	line-height: 200%;
	color:#222;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.about-des {
	font-family: 'Quicksand', sans-serif;
	line-height:190%;
	color:#222;
	font-size: 1.3em;
}

.about-des-bold {
	font-weight: 700;
}

.about-top-area {
    //background-color: #a3a3a3;
    background: url(/images/portfolio/code.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    padding: 2%;
    border-bottom: 2px solid #2ab996;
}
.about-title-top {
    color: white;
    font-family: 'Jura', sans-serif;
    font-weight: 400;
    font-size: 2.4em;
    text-align: center;
    width: 80%;
    padding-top: 40px;
}

.about-title-bottom {
    color: black;
    font-family: 'Jura', sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    width: 80%;
    margin-top: 3%;
}

.message-about {
    font-size: 1.1em;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.interested-about {
    font-size: 1.2em;
    font-weight: 500;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-right: 7.5%;
    padding-left: 7.5%;
}

.interested-about p a {
	color: white;
	text-transform: uppercase;
}

.interested-about p a:hover {
	text-decoration: underline;
}

.about-tile-area {
	border-bottom: 2px solid #2ab996;
}

.about-tile {
    width: 33.33%;
    height: auto;
    overflow: hidden;
    margin: 0 !important;
}

.about-tile-title {
	font-weight: 500;
}

@media screen and (max-width: 1400px) {
    .about-tile {
        width: 33.33%;
    }
}

@media screen and (max-width: 920px) {
    .about-tile {
        width: 50%;
    }
}

@media screen and (max-width: 720px) {
    .about-tile {
        width: 100%;
    }
}