.title-surface-container {
    z-index:20;
    width:100%;
    height: 100%;
    margin-left:auto;
    margin-right:auto;
    background:url(/images/overlay.png),url(/images/stock5.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    padding-top:50px;
    border-bottom:3px solid #14B795
}

.contact-page-container {
    z-index:20;
    background:#000;
    min-height: 100%;
    width:100%;
    position: relative;
    margin-left:auto;
    margin-right:auto
}

.contact-email {
    font-family: 'Jura', sans-serif;
    font-size: 3em;
    color: #14B795;
    font-weight: 300;
}

a.contact-email:hover {
    color: #fff;
}

.gmap-container {
    padding:15px;
}

.stay-connected {
    position: relative;
    font-family: 'Jura', sans-serif;
    color:#fff;
    letter-spacing: 5px;
    text-align: center;
    font-size: 3.25em;
    font-weight: 500;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left:auto;
    margin-right: auto;
}

.bottom-contact {
    padding-top: 5%;
    padding-bottom: 10%;
}

.bottom-form {
    padding-top: 10%;
    padding-bottom: 10%;
}

.margin {
    margin: 0 15%;
    padding-top: 5%;
    padding-bottom: 5%;
}

:focus {
    outline:none
}

.inputGroup {
    position:relative;
    margin-bottom:30px
}

.inputGroup label {
    position:absolute;
    top:0;
    left:5px;
    pointer-events:none;
    transition:all .3s ease;
    font-size:16px;
    font-family:Trebuchet MS;
    color:#fff;
    font-weight:500;
    font-family: 'Jura',sans-serif;
    text-transform:uppercase
}

.inputGroup input,.inputGroup textarea {
    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid #757575;
    left:25px;
    padding:5px;
    font-family:Trebuchet MS;
    background:none;
    color:#ccc
}

.inputGroup input:focus ~ label,
.inputGroup input:valid ~ label,
.inputGroup textarea:focus ~ label,
.inputGroup textarea:valid ~ label {
    top:-20px;
    transition:all .3s ease;
    font-size:13px
}

.inputGroup input:focus ~ .inputBar:before,
.inputGroup input:focus ~ .inputBar:after,
.inputGroup textarea:focus ~ .inputBar:before,
.inputGroup textarea:focus ~ .inputBar:after {
    width:50%
}

.inputGroup textarea {
    height:100px;
    width:100%;
    overflow:auto;
    resize:none
}

.inputGroup .inputBar {
    position:relative;
    display:block;
    width:100%
}

.inputGroup .inputBar:before,.inputGroup .inputBar:after {
    content:"";
    display:block;
    position:absolute;
    bottom:0;
    width:0;
    background:#fff;
    height:2px;
    transition:all .2s ease
}

.inputGroup .inputBar:after {
    right:50%
}

.inputGroup .inputBar:before {
    left:50%
}

button {
    background-color:#fff;
    border:none;
    width:100px;
    padding: 10px;
    color:#3c3c3c;
    text-transform:uppercase;
    font-family:'Jura',sans-serif;
    font-size:15px;
    border-radius:5px;
    box-shadow:0 6px #a1a1a1;
    position:relative;
    cursor:pointer
}

button:hover {
    box-shadow:0 4px #a1a1a1;
    top:2px
}

button:active {
    top:6px;
    box-shadow:0 0
}

#icon-wrapper {
    width:100%;
    height:100px;
    padding-top:25px;
    margin:0 auto;
    text-align:center;
}

.bt_wrap {
    display:inline-block;
    width:auto;
    height:auto;
    width:100px;
    height:100px;
    cursor:pointer;
    perspective:200px;
    transition:background .2s ease-out
}

.icon-box {
    position:absolute;
    perspective-origin:50px 50px;
    transform-origin:50px 50px;
    transition:transform .2s ease-out;
    transform-style:preserve-3d
}

.social-icon,.social-icon2 {
    position:absolute;
    left:20px;
    margin-top:20px;
    background:#000;
    color:#14B795;
    width:60px;
    height:60px;
    font-size:3em;
    line-height:60px;
    transition:background .2s ease-out;
    transform:translate3d(0px,0px,30px) rotateY(0deg)
}

.social-icon2 {
    background:#000;
    transform:translate3d(29px,0px,0px) rotateY(90deg);
    transition:background .2s ease-out
}

.bt_wrap:hover {
    background:#14B795
}

.bt_wrap:hover .social-icon {
    background:#000;
}

.bt_wrap:hover .social-icon2 {
    background:#000;
    color: #fff!important;
}

.bt_wrap:hover .icon-box {
    transform:rotateY(-90deg)
}

.contact-title-location p {
    font-family:'Jura',sans-serif;
    font-weight:500;
    font-size:35px;
    color:#fff;
    margin-right:auto;
    margin-left:auto;
    text-align:center
}

.card-logo {
    position:relative;
    top:5%;
    height:100px;
    width:100px;
    margin:0 auto;
    border-radius:50%;
    text-align:center;
    animation:bounce 2s infinite;
    -webkit-animation:bounce 2s infinite
}

.card-logo h2 {
    margin-left: 3px;
    line-height:100px;
    font-size:3.75em;
    font-family: 'Jura', sans-serif;
    font-weight:700;
    color:#fff;
    border-radius:50%;
    overflow:hidden
}

.card-front,.card-back {
    box-shadow:inset 0 0 20px #14B795;
    position:absolute;
    top:0;
    left:0;
    padding:20px;
    backface-visibility:hidden;
    text-align:center;
    box-sizing:border-box
}

.card-front.trev {
    z-index:2;
    background:url(/images/overlay.png) repeat, url(/images/contact/raleigh-nc.jpg);
    background-size: cover;
}
.card-front.val {
    z-index:2;
    background:url(/images/overlay.png) repeat, url(/images/contact/evanston.jpg);
    background-size: cover;
}
.card-front.gh {
    z-index:2;
    background:url(/images/overlay.png) repeat, url(/images/contact/knoxville.jpg);
    background-size: cover;
}
.card-front.mt {
    z-index:2;
    background:url(/images/overlay.png) repeat, url(/images/contact/philly.jpg);
    background-size: cover;
}

.card-back {
    transform:rotateY(180deg);
    background:#14B795;
    color:#fff
}

.card-name {
    font-family: 'Jura',sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: 2px;
    color:#fff;
}

.card-about {
    padding-top:5px;
    margin:0 auto;
    font-family: 'Jura',sans-serif;
    font-weight: 200;
    font-size: 1em;
    letter-spacing: 2px;
    width:200px;
    color: #000;
}

.ca-bold {
    padding-top:10px;
    font-weight: 600;
}

.contact-info {
    line-height: 70px;
    bottom: 0;
    position: absolute;
    margin:0 auto;
    font-family: 'Jura',sans-serif;
    font-weight: 900;
    font-size: 1em;
    letter-spacing: 5px;
    width:200px;
    color:#fff;
}

.card-wrapper,.card-front,.card-back {
    width:250px;
    height:250px;
}

.card-wrapper {
    margin:1em auto;
    perspective:1000px;
}

.card-wrapper:hover .flipper,.flip-container.hover .flipper {
    transform:rotateY(180deg)
}

.flipper {
    position:relative;
    transition:.8s;
    transform-style:preserve-3d
}

.oval {
    position:relative;
    top:20%;
    margin:auto;
    width:55px;
    height:25px;
    background:#000;
    -moz-border-radius:60px / 25px;
    -webkit-border-radius:60px / 25px;
    border-radius:55px / 25px;
    animation:shadow 2s infinite;
    -webkit-animation:shadow 2s infinite
}

@-webkit-keyframes bounce {
0% {
    margin-top:15px;
    margin-bottom:10px
}

50% {
    margin-top:22px;
    margin-bottom:3px
}

100% {
    margin-top:15px;
    margin-bottom:10px
}
}

@keyframes bounce {
0% {
    margin-top:15px;
    margin-bottom:10px
}

50% {
    margin-top:22px;
    margin-bottom:3px
}

100% {
    margin-top:15px;
    margin-bottom:10px
}
}

@-webkit-keyframes shadow {
0% {
    padding:1px;
    opacity:.45
}

50% {
    padding:3px;
    opacity:.65
}

100% {
    padding:1px;
    opacity:.45
}
}

@keyframes shadow {
0% {
    padding:1px;
    opacity:.45
}

50% {
    padding:3px;
    opacity:.65
}

100% {
    padding:1px;
    opacity:.45
}
}

/* media queries */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {

}

@media screen and (max-width: 920px) {

}