@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Monda:400,700|Play:400,700);

.contact-page-container {
    z-index:20;
    background:#fff;
    min-height: 100%;
    color: #000;
    width:100%;
    position: relative;
    margin-left:auto;
    margin-right:auto;
    border-top: 5px solid #14B795;
}

.contact-title {
    position: relative;
    font-family: 'Monda', sans-serif;
    color:#1c1c1c;
    margin-top:2.5%;
    letter-spacing: 5px;
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    margin-left:auto;
    margin-right: auto;
}

.stay-connected {
    position: relative;
    font-family: 'Monda', sans-serif;
    color:#000;
    letter-spacing: 10px;
    text-align: center;
    font-size: 4em;
    font-weight: 100;
    margin-bottom: 5%;
    margin-left:auto;
    margin-right: auto;
}

.contact-email {
    font-family: 'Monda',sans-serif;
    font-size: 3em;
    color: #14B795;
    font-weight: 300
}

.contact-top {
    box-shadow: inset 0 0 100px #000;
    position: relative;
    top: 0;
    overflow: hidden
}

.contact-top-box {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto
}

.contact-top-container {
    cursor: default;
    height: 40vh;
    min-height: 250px;
    z-index: 1;
}

.text-fill img {
    position: absolute;
    top: -20%;
    left: 0;
    width: 100%;
    z-index: -4;
    overflow: hidden
}

.contact-top--fill {
    fill: rgba(0,0,0,0.75)
}

.contact-top-box #fill-hover {
    fill: rgba(255,255,255,0.65);
}

#contact-top-img-desktop {
    display: block
}

#contact-top-img-mobile {
    display: none
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

@media only screen and (max-width: 620px) {
#contact-top-img-desktop {
   display:none;
}

#contact-top-img-mobile {
   display:block;
}
}

a.contact-email:hover {
    color: #fff;
}

.gmap-container {
    padding:15px;
}

.bottom-contact {
    padding-top: 5%;
    padding-bottom: 10%;
}

.bottom-form {
    padding-top: 10%;
    padding-bottom: 10%;
}

.margin {
    margin: 0 15%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.social-wrapper {
    margin-top: -7%;
    margin-left:-35px;
    text-align: center;
}

@media screen and (max-width: 991px) {
.social-wrapper {
    margin-top: -10%;
}
}
@media screen and (max-width: 650px) {
.social-wrapper {
    margin-top: -13%;
}
}
@media screen and (max-width: 600px) {
.social-wrapper {
    margin-top: -15%;
}
}
@media screen and (max-width: 500px) {
.social-wrapper {
    margin-top: -17%;
}
}
.social {
    display: inline-block;
    width: 75px;
    height: 75px;
    padding-left:50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer
}

.social a {
    line-height: 50px;
    font-family: Entypo;
    font-size: 35px;
    text-align: center;
    color: #14B795;
}
.social a:hover {
    color: #fff;
}

:focus {
    outline:none
}

.inputGroup {
    position:relative;
    margin-bottom:30px
}

.inputGroup label {
    position:absolute;
    top:0;
    left:5px;
    pointer-events:none;
    transition:all .3s ease;
    font-size:16px;
    font-family:Trebuchet MS;
    color:#14B795;
    font-weight:600;
    font-family: 'Jura',sans-serif;
    text-transform:uppercase
}

.inputGroup input,.inputGroup textarea {
    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid #1c1c1c;
    left:25px;
    padding:5px;
    font-family:Trebuchet MS;
    background:none;
    color:#ccc
}

.inputGroup input:focus ~ label,
.inputGroup input:valid ~ label,
.inputGroup textarea:focus ~ label,
.inputGroup textarea:valid ~ label {
    top:-20px;
    transition:all .3s ease;
    font-size:13px
}

.inputGroup input:focus ~ .inputBar:before,
.inputGroup input:focus ~ .inputBar:after,
.inputGroup textarea:focus ~ .inputBar:before,
.inputGroup textarea:focus ~ .inputBar:after {
    width:50%
}

.inputGroup textarea {
    height:100px;
    width:100%;
    overflow:auto;
    resize:none
}

.inputGroup .inputBar {
    position:relative;
    display:block;
    width:100%
}

.inputGroup .inputBar:before,.inputGroup .inputBar:after {
    content:"";
    display:block;
    position:absolute;
    bottom:0;
    width:0;
    background:#14B795;
    height:2px;
    transition:all .7s ease
}

.inputGroup .inputBar:after {
    right:50%
}

.inputGroup .inputBar:before {
    left:50%
}

button {
    background-color:#f1f1f1;
    border:none;
    width:100px;
    padding: 10px;
    color:#1C1C1C;
    letter-spacing: 2px;
    text-transform:uppercase;
    font-family:'Monda',sans-serif;
    font-size:15px;
    border-radius:5px;
    box-shadow:0 6px #BDBDBD;
    position:relative;
    cursor:pointer
}

button:hover {
    box-shadow:0 4px #BDBDBD;
}

button:active {
    top:6px;
    box-shadow:0 0
}

figure.cards * {
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out
}

figure.cards {
    font-family: 'Quicksand',sans-serif;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top:0;
    margin-bottom:25px;
    width: 310px;
    height: 310px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.5)
}

figure.cards:hover figcaption h2 {
    color: #14B795;
    font-weight: 900;
}

figure.cards:hover span {
    color: #fff;
}

figure.cards:hover figcaption:before,
figure.cards:hover figcaption:after {
    background-color: #fff;
}

figure.cards.card-trev {
    background: url(/images/overlay.png), url(/images/contact/nc-bw.jpg);
    background-size: cover;
}

figure.cards.card-val {
    background: url(/images/overlay.png), url(/images/contact/chi-bw.jpg);
    background-size: cover;
}

figure.cards.card-mt {
    background: url(/images/overlay.png), url(/images/contact/pa-bw.jpg);
    background-size: cover;
}

figure.cards figcaption {
    position: absolute;
    top: 50%;
    left: 30px;
    right: 30px;
    -webkit-transform: rotate(0deg) translateY(-50%) scale(1);
    transform: rotate(0deg) translateY(-50%) scale(1);
    -webkit-transform-origin: center 0;
    transform-origin: center 0
}

figure.cards figcaption h2 {
    top: 50%;
    letter-spacing: -1px;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    padding: 10px 0;
    margin: 0;
    font-weight: 400
}

figure.cards figcaption h2 span {
    font-weight: 900
}

figure.cards figcaption:before,figure.cards figcaption:after {
    background-color: #14B795;
    width: 100%;
    height: 2px;
    position: absolute;
    content: "";
    display: block;
    -webkit-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out
}

figure.cards figcaption:before {
    left: 0;
    top: 0
}

figure.cards figcaption:after {
    bottom: 0;
    right: 0
}

figure.cards a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute
}

figure.cards:hover figcaption,figure.cards.hover figcaption {
    -webkit-transform: rotate(-45deg) translateY(-50%) scale(0.9);
    transform: rotate(-45deg) translateY(-50%) scale(0.9)
}

figure.cards:hover figcaption:before,
figure.cards.hover figcaption:before,
figure.cards:hover figcaption:after,
figure.cards.hover figcaption:after {
    width: 200%
}

.card-wrapper {
    position: relative;
    margin-top: 2.5%;
    margin-bottom: 15%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.block {
    display: block
}

.card {
    position: relative;
    text-align: center
}

.card:nth-child(1) {
    margin-left: -3px;
    margin-right: 1px
}

.card:nth-child(2),.card:nth-child(3) {
    margin-right: 1px
}

.card__front,.card__back {
    cursor:pointer;
    position: relative;
    top: 0;
    left: 0;
    width: 310px;
    height: 310px
}

.card__front,.card__back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s
}

.card__front {
    background-color: #000
}

.card__back {
    position: absolute;
    background-color: #fff;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg)
}

.card__name {
    color:#000!important;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    margin: 0 auto;
    height: 20px;
    line-height: 20px
}

.card__prof {
    color:#14B795!important;
    display: inline-block;
    position: absolute;
    right: 0;
    left: 0;
    top:100px;
    margin: 0 auto;
    height: 20px;
    line-height: 20px
}
.card__phone {
    color:#000!important;
    display: inline-block;
    position: absolute;
    right: 0;
    left: 0;
    bottom:50px;
    margin: 0 auto;
    height: 20px;
    line-height: 20px
}
input[type="checkbox"] {
    position: absolute;
    left: -9999px
}

input[type="checkbox"]:checked + .child .card__front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg)
}

input[type="checkbox"]:checked + .child .card__back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0)
}

/* media queries */
@media only screen and (max-width: 568px) {
.stay-connected {
    font-size: 5em;
}
}