.header {
	width:100%;
}

.table-fixed thead {
	width: 100%;
}
.table-fixed tbody {
	height: 230px;
	overflow-y: auto;
	width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
	display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
	float: left;
	border-bottom-width: 0;
	background-color: inherit;
}
.table > tbody > tr > td {
	border-top-color: rgb(150, 150, 150);
	text-align: left;
}
.selected {
		font-weight: bolder;
}
#tableFilters > .form-group {
	margin-bottom: 0px;
}
.filterCheckbox {
	height: 34px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.filterCheckbox > label {
	margin-bottom: 0px;
}
