.page-nav-zone {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    text-align: center;
    top:0;
    opacity: 1;
    width:67px;
    height:100%;
    background-color: transparent;
    transition: width ease-in-out 0.3s;
    z-index: 5000;
    overflow: hidden;
}

.item-container {
    margin-top: 50px;
    width: 100%;
    height: 10%;
    display: table;
    position: relative;
    transition: background-color ease-in-out 0.3s;
}

.list-item {
    display: table-cell;
    vertical-align: middle;
    color: #000;
    font-family: 'Play', sans-serif;
    font-weight: 300;
    font-size: 23px;
    transition: font-size ease-in-out 0.2s;
}

.flex-item-top {
    align-self: flex-start;
}

.flex-item-bottom {
    align-self: flex-end;
}

.nav-large-list {
    position: absolute;
    right: 0;
    padding-bottom:100px;
    height: 64px;
    width: 220px;
    z-index: 5002;
    transition: width ease-in-out 0.2s;
}

.nav-logo {
    transition: none!important;
  -webkit-animation: floating-text 2s ease alternate infinite;
     -moz-animation: floating-text 2s ease alternate infinite;
      -ms-animation: floating-text 2s ease alternate infinite;
       -o-animation: floating-text 2s ease alternate infinite;
          animation: floating-text 2s ease alternate infinite;
}

#logo-container {
    top: -85px;
}

.nav-small-list {
    position: absolute;
    display:none;
    left: 0;
    width: 64px;
    height: 64px;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 5003;
    align-items: center;
}

.page-nav-zone:hover .nav-large-list #sidebar-logo {
    margin-left: 0px;
}

#sidebar-logo {
    margin-top:0px;
    margin-left: -500px;
}


@-webkit-keyframes floating-text {
  0% {  
    -webkit-transform: translateY(.1em);

  }
  100% {
    -webkit-transform: translateY(.25em);
  }
}
@-moz-keyframes floating-text {
  0% {  
    -moz-transform: translateY(.1em);


  }
  100% {
    -webkit-transform: translateY(.25em);
  }
}
@-ms-keyframes floating-text {
  0% {  
    -ms-transform: translateY(.1em);

  }
  100% {
    -webkit-transform: translateY(.25em);
  }
}
@-o-keyframes floating-text {
  0% {  
    -o-transform: translateY(.1em);

  }
  100% {
    -webkit-transform: translateY(.25em);
  }
}
@keyframes floating-text {
  0% {  
    transform: translateY(.1em);

  }
  100% {
    -webkit-transform: translateY(.25em);
  }
}

#nav-toggle {
    position: absolute;
    left: -9999px
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: -80%;
    width: 80%;
    height: 100%;
    background: rgba(255,255,255,0.75);
    transition: transform .5s;
    z-index: 9999;
    color: #000;
    font-family: 'Play',sans-serif;
    font-weight: 300;
    font-size: 23px
}

.nav-mobile {
    color:#000;
    right: 0;
    width: 100%;
    z-index: 5002;
    transition: all ease-in-out .2s
}

.mobile-nav .nav-mobile:hover {
    color:#14B795;
}

.mobile-nav #toggle {
    display: block;
    position: absolute;
    top: 0;
    right: -40px;
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    line-height: 36px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.5s,right .5s
}

.mobile-nav #toggle:before {
    content: '\2630'
}

.mobile-nav #toggle:hover {
    background: #14B795
}

.mobile-nav ul {
    height: 100%;
    border-right: 40px solid #000;
    padding: 0
}

.mobile-nav ul li {
    font-size: 28px;
}

.mobile-nav ul li a {
    display: block;
    padding: 20px 30px;
    color: #fff;
    text-decoration: none
}

.mobile-nav ul li:hover {
    background: #fff;
    color:#14B795;
}

#nav-toggle:checked ~ .mobile-nav {
    transform: translate3d(100%,0,0)
}

#nav-toggle:checked ~ .mobile-nav #toggle {
    right: 0;
    font-size: 28px
}

#nav-toggle:checked ~ .mobile-nav #toggle:before {
    content: '\00D7'
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 720px) {
.side-bars {
    display:none;
}
.mobile-menu {
    display:block;
    z-index: 9999;
}
.nav-small-list, .nav-small-list img {
    position: absolute;
    display:block;
    left: 0;
    width: auto;
    height: 30px;
    padding-left: 10px;
    z-index: 5003;
    align-items: center;
}
}
.side-bars {
    position: absolute;
    margin-left: 35px;
    margin-top: 35px;
    width: auto;
    height: auto;
    z-index: 4999;
    align-items: center;
}

.icon-bar {
    background: #fff;
    width: 35px;
    height: 5px;
    margin-bottom: 5px;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

.page-nav-zone:hover .nav-large-list {
    width: 284px;
}

.opacity {
    opacity: 0.7;
    transition: opacity ease-in-out 0.2s;
}

.opacity:hover {
    opacity: 1.0;
}

.top-right {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    margin: 5%;
    color: #fff;
    z-index: 5003;
    font-size: 60px;
}

.page-nav-zone:hover .top-right {
    display: visible;
}

/* media queries */
/* The only way to get your rule to apply only when the media query isn't satisfied is to isolate it in a negated version of the query */
@media not screen and (max-width: 720px) {
    .page-nav-zone:hover {
        width: 284px;
        opacity: 1.0;
        background: rgba(255, 255, 255, 0.95);
    }
    .list-item:hover {
        font-size: 40px;
        color:#14B795;
    }
}

@media screen and (max-width: 720px) {
    #logo-container {
        display:none;
    }
}