@import "http://fonts.googleapis.com/css?family=Jura";

@import "http://fonts.googleapis.com/css?family=Cantarell";

html, body {
    height:100%;
}

html,body {
	font-family:verdana,arial,sans-serif;
	color:#000;
	text-align:center;
	overflow-x:hidden !important;
	overflow:hidden;
    margin:0;
    padding:0;
}

.nav {
	font-family:Jura;
	font-size:20px
}

h1,h2,h3 {
	font-weight:400
}


a {
	color:#222
}

a:hover {
	text-decoration:none
}

ul.nav li a {
    padding: 15px 0;
    transition:all .7s ease-in
}
ul.nav li a i {
    padding-left: 5px;
}

hr {
	border-color:#dedede
}

.active span {
	color: #2AB996;
}
.active p {
	color: #2AB996;
}

.activeicon i {
	color: #2AB996;
}

.wrapper,.row {
	height:100%;
	margin-left:0;
	margin-right:0
}

.wrapper:before,.wrapper:after,.column:before,.column:after {
	content:"";
	display:table
}

.wrapper:after,.column:after {
	clear:both
}

.column {
	height:100%;
	overflow:auto;
	*zoom:1
}

.column .padding {
	padding:20px
}

.full {
	padding-top:70px
}

.box {
	bottom:0;
	left:0;
	position:absolute;
	right:0;
	top:0;
	background-color:#000
}

.divider {
	margin-top:32px
}

#main {
	background-color:#e9eaed;
	padding-left:0;
	padding-right:0
}

#lg-menu {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 100px;
}

#lg-menu img {
    width: 175px;
}

#sidenav {
    margin-bottom: 150px
}

#sidenav li {
    margin-bottom: 20px
}

#sidebar {
	padding:0;
	padding-top:15px
}

#sidebar,#sidebar a,#sidebar-footer a {
	color:#fff;
	background-color:#000000
}

#sidebar .nav li>a:hover {
	background-color:#393939
}

#sidebar-footer {
	background-color:#000000;
	bottom:5px;
	padding:5px
}

#social {
	background-color:#000;
	position:absolute;
	margin-top:50px
}

#xs img {
	padding-top:50px;
	padding-right:0;
	margin-left:0
}

#xs-menu {
	margin-top:100px
}

#xs-menu-2 {
    display: none;
}

#lg-2 {
    margin-top:75px;
}
#social-sm {
    margin-top:0px;
}

#footer {
	margin-bottom:20px
}

h1,h2,h3 {
	font-weight:800
}

.page-header {
	margin-top:55px;
	padding-top:9px;
	border-top:1px solid #eee;
	font-weight:700;
	text-transform:uppercase;
	letter-spacing:2px
}

@media (max-width: 1079px) {
#lg-menu {
    display: block !important;
    margin-bottom: 0px;
}
#lg-menu img {
    width: 130px;
}
}

@media (min-width: 650px) and (max-width: 767px) {
#lg-menu img {
    width: 90px;
}
}

@media (min-width: 438px) and (max-width: 649px) {
#lg-menu img {
    width: 75px;
}
}

@media (min-width: 992px) and (max-width: 1079px) {
#sidenav {
    margin-top: 100px;
}
}

@media screen and (max-width: 767px) {
.row-offcanvas {
	position:relative;
	-webkit-transition:all .25s ease-out;
	-moz-transition:all .25s ease-out
	transition:all .25s ease-out
}
#sidenav {
    margin-bottom: 0px;
}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
#sidebar-footer {
    display: none;
}
#sidenav {
    margin-bottom: 0px;
}
}
@media screen and (min-width: 438px) and (max-width: 991px) {
#social-sm {
    display:block !important;
    margin-top:50px
}
#social {
    display: none !important;
}
}
@media screen and (min-width: 619px) and (max-width: 991px) {
#social-sm a {
    margin-top:2.5px;
    margin-bottom:2.5px;
}
}
@media screen and (max-width: 619px) {

}
@media screen and (min-width: 20px) and (max-width: 767px) {
#xs-menu-2 {
    display: block;
    margin-top: 75px;
}
#xs-menu-2 p {
    font-size: 15px;
}
#xs-menu-2 a {
    margin-bottom: 10px;
}
#xs-menu {
    display: none !important;
}
}
@media screen and (max-width: 437px) {
#lg-menu {
    display: block !important;
    margin-bottom: 0px;
}
#lg-menu img {
    width: 60px;
}
#xs img {
    display: none !important;
}
}