<div class="about-outter">
  <div class="about-topping">
    <div class="about-title">
      The
      <img src="https://s3.amazonaws.com/novollc/images/novo/logo-w.png">
      Experience
    </div>
    <div class="about-desc">
      <hr style="margin-bottom: -45px;border-top: 1px solid #000;width: 90%;">
      <hr>
      <p>
        Crafting an effective message is about communicating your vision in a way that&nbsp;will&nbsp;always&nbsp;be&nbsp;remembered.
        <br>
        To us, that means transforming a vision into creative solutions, engineered to deliver with&nbsp;the&nbsp;latest&nbsp;technology.
        <br>
        Each step is tailored to your identity, because at NOVO you're&nbsp;more&nbsp;than&nbsp;just&nbsp;a&nbsp;client&nbsp;— you're&nbsp;a&nbsp;partner.
      </p>
      <hr>
      <hr style="margin-top: -45px;border-top: 1px solid #000;width: 90%;">
    </div>
    <div class="about-bar">
      Let's bring your ideas to <span style="color:#fff">life</span>
    </div>
  </div>
  <div class="col-md-4 about-col">
    <div class="about-container">
      <div class="about-card" ng-click="toggle_card('design')" ng-class="{'flipped': design == true}">
        <div class="front front-one"><h2>design</h2></div>
        <div class="back"><p><strong style="color:#14B795">Design</strong><br>Our creative team's first and most important step is understanding who you are. Once we're sure that's achieved, there are no limits. From logos and print-work to fully formed brands, NOVO translates skill and experience into striking visuals that embody your core.<br><strong style="color:#14B795">Design is in our DNA.</strong></p></div>
      </div>
    </div>
  </div>
  <div class="col-md-4 about-col">
    <div class="about-container">
      <div class="about-card" ng-click="toggle_card('development')" ng-class="{'flipped': development == true}">
        <div class="front front-two"><h2>development</h2></div>
        <div class="back"><p><strong style="color:#14B795">Development</strong><br>Building websites with powerful, reliable, and modern technology is a given. Beyond that, user experience is the focus. Each&nbsp;click&nbsp;should&nbsp;lead&nbsp;an&nbsp;audience on&nbsp;a&nbsp;journey&nbsp;through&nbsp;your&nbsp;vision. <br>Tell your story with elements that seamlessly flow into each other.<br><strong style="color:#14B795">Mobile-ready. Universally compatible.</strong></p></div>
      </div>
    </div>
  </div>
  <div class="col-md-4 about-col">
    <div class="about-container">
      <div class="about-card" ng-click="toggle_card('marketing')" ng-class="{'flipped': marketing == true}">
        <div class="front front-three"><h2>marketing</h2></div>
        <div class="back"><p><strong style="color:#14B795">Marketing</strong><br>Extend your influence through comprehensive, efficient, and effective strategies. Our clients often see 400% increase in social media followers after launching with NOVO. Our marketing team consists of data scientists, designers, and advertisers. <br>Tell&nbsp;us&nbsp;where&nbsp;you&nbsp;want&nbsp;to&nbsp;go.<br><strong style="color:#14B795"> We'll get you there..</strong></p></div>
      </div>
    </div>
  </div>

  <!--<form class="ctr newsletter-input" action="//projectnovo.us11.list-manage.com/subscribe/post?u=a56f7f3f876fa9db4c36328af&amp;id=ff3d3ae826" method="post">
      <div class="loader"></div>
      <input type="email" name="EMAIL" required>
      <div class="indicator" data-content="Type Your Email Address"></div>
  </form>
   real people should not fill this in and expect good things - do not remove this or risk form bot signups
  <div class="display-none">
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_a56f7f3f876fa9db4c36328af_ff3d3ae826" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
  </div>-->
</div>
