<style>
  .modal-dialog{width:84%!important;}
</style>
<div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <h4>{{newFax.name}}</h4>
        <h4>{{newFax.email}}</h4>
        <!--<h4 style="text-align:left">Legislator:</h4>-->
        <p>
          <span ng-repeat="legislator in newFax.legislatorList">
            {{legislator.first_name}} {{legislator.last_name}}{{$last ? '' : ($index==newFax.legislatorList.length-2) ? ' and ' : ', '}}
          </span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="text-align:center">
        <img src="images/FAXbuilding.svg" style="height:150px;"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" style="text-align:left;overflow-wrap: break-word;">
        {{newFax.faxContent}}
      </div>
    </div>
  </div>
  <div class="modal-footer" style="display:inline-block;width:100%;text-align:center">
    <!--<p>Fax2DC is offered as a free service and is supported by people like you!</p>-->
    <a href="/donate" target="_blank"><button class="btn btn-info" style="display:inline-block;width:40%" type="button">Donate</button></a>
    <button class="btn btn-info" style="display:inline-block;width:40%" type="button" ng-click="ok()">Send your fax!</button>
  </div>
</div>
