<div>
  <div class="modal-header">
    <h2>is this correct?</h2>
  </div>
  <div class="modal-body">

    <h2>is this correct?</h2>
    <h4>Name:</h4>
    <p>{{newFax.name}}</p>

    <h4>Email:</h4>
    <p>{{newFax.email}}</p>

    <h4>Legislator List:</h4>
    <div ng-repeat="legislator in newFax.legislatorList">
      <p>{{legislator.first_name}} {{legislator.last_name}}</p>
    </div>

    <h4>Fax:</h4>

    <img src="images/FAXbuilding.svg"/>
    <p>{{newFax.faxContent}}</p>

    <br>
    <p>Fax2DC is offered as a free service and is supported by people like you!</p>
    <a class="btn btn-info" href="/donate"><h5>donate</h5></a>

  </div>
  <div class="modal-footer" style="display:inline-block;width:100%;text-align:center;">
      <button class="btn btn-info" style="float:none;display:inline-block;" type="button" ng-click="ok()">Send!</button>
  </div>
</div>
