<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <img class="intro-img" src="images/FAXLOGO1.svg">
                    <div class="spacing-15"></div>
                    <p class="intro-text">Are they listening?<br><br>Let's find out.</p>
                    <a href="#about" class="btn btn-circle page-scroll" du-smooth-scroll>
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="about" class="container content-section text-center">
  <div class="spacing-25"></div>
  <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
          <h2>{{faxCount}} Faxes Sent.</h2>
          <div class="spacing-25"></div>
          <div ng-show="confirm != ''">
            <h2>{{confirm}}</h2>
            <div class="spacing-25"></div>
          </div>
      </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <form id="tableFilters">
        <h3>Select Representatives</h3>
        <div class="spacing-10"></div>
        <div class="row">
          <!--Search bar-->
          <div class="form-group col-md-12">
            <input ng-model="legislatorFilter.$" class="form-control" type="text" placeholder="Search..."/>
            <div class="spacing-10"></div>
          </div>
        </div>
        <div class="row">
          <!--State select-->
          <div class="form-group col-md-4">
            <select ng-model="legislatorFilter.state" class="form-control">
              <option value="">Select State</option>
              <option ng-repeat="stateAbrv in stateAbrvs" value="{{stateAbrv}}">{{stateAbrv}}</option>
            </select>
            <div class="spacing-10"></div>
          </div>
          <!--house filter-->
          <div class="form-group filterCheckbox col-md-2">
            <input ng-click="includeTitle('Rep')" type="checkbox" name="rep" value="Rep"> <label for="rep"> House</label>
            <div class="spacing-10"></div>
          </div>
          <!--senate filter-->
          <div class="form-group filterCheckbox col-md-2">
            <input ng-click="includeTitle('Sen')" type="checkbox" name="sen" value="Sen"> <label for="sen"> Senate</label>
            <div class="spacing-10"></div>
          </div>
        </div>
      </form>
    </div>
    <table class='table table-fixed'>
      <span ng-show="loading == true">
        Loading&nbsp;<i class="fa fa-spinner fa-spin"></i>
      </span>
      <thead>
        <tr>
          <th class="col-xs-4"><a ng-click="changeSorting('last_name')">Last</a></th>
          <th class="col-xs-4"><a ng-click="changeSorting('first_name')">First</a></th>
          <th class="col-xs-2"><a ng-click="changeSorting('state')">State</a></th>
          <th class="col-xs-2"><a ng-click="changeSorting('party')">Party</a></th>
        </tr>
      </thead>
      <tbody>
        <tr style="overflow:hidden" ng-repeat="legislator in legislators 
                        | filter:legislatorFilter
                        | filter:partyFilter 
                        | filter:titleFilter
                        | filter:selectedFilter
                        | orderBy:sortField:reverse"
            ng-click="selectLegislator(legislator)"
            ng-class="getClass(legislator)">
          <td class="col-xs-4">{{legislator.last_name}}</td>
          <td class="col-xs-4">{{legislator.first_name}} </td>
          <td class="col-xs-2">{{legislator.state}}</td>
          <td class="col-xs-2">{{legislator.party}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <form name="faxForm" id="faxForm" ng-submit="submitFax()">
    <div class="col-md-12">
      <div class="spacing-5"></div>
      <div class="form-group">
        <h3>Write Message</h3>
        <div class="spacing-15"></div>
        <textarea class="form-control" rows="10" ng-model="newFax.faxContent" placeholder="Your Fax..."></textarea>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="spacing-10"></div>
        <label>Name</label>
        <div class="spacing-10"></div>
        <input type="text" class="form-control" placeholder="Name" ng-model="newFax.name"/>
      </div>
    </div>    
    <div class="col-md-6">
      <div class="form-group">
        <div class="spacing-10"></div>
        <label>Email</label>
        <div class="spacing-10"></div>
        <input type="email" class="form-control" placeholder="email@example.com" ng-model="newFax.email"/>
      </div>
    </div>    
    <div class="col-md-12">
      <div class="spacing-25"></div>
      <input type="text" style="display:none" autofill="off" ng-model="newFax.trap" />
      <p>{{validationMessage}}</p>
      <input class="btn btn-primary sendFax" type="submit" value="Send Fax" />
    </div>
  </form>
</section>
<div class="spacing-50"></div>
<section id="about-1" class="content-section text-center">
    <div class="about-section">
        <div class="container">
          <p>Grassroots lobbying is a key to political change. <br> 
          <span style="color:#bd1f2f">Mail is slow,</span> email is ignored, <span style="color:#3b5999">but a fax is quick, physical, and easy.</span></p>
        </div>
    </div>
</section>
<section id="about-2" class="content-section text-center">
    <div style="padding:100px">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>Sponsors</h2>
              <p><a href="https://www.experiencenovo.io">NOVO</a>, <a href="https://www.phaxio.com/">phaxio</a></p>
              <br><br>
              <a class="btn btn-info" href="#"><h5>donate</h5></a>
            </div>
        </div>
    </div>
</section>
<!--footer-->
<!--<section id="about-3" class="content-section text-center">
    <div class="about-section">
        <div class="container">
            <div class="col-lg-2 col-lg-offset-2">
            </div>
        </div>
    </div>
</section>-->