<link rel="stylesheet" href="/styles/css/portfolio.css">
<div class="home-pad">
    <div class="container">
        <div id="" class="info">
            <div class="title" style="font-weight:400;">Quality, Modernity, and Transparency</div>
            <br>
            <hr>
            <br>
            <div class="portfolio-message">
                <p>Our clients know what it means to be partners with NOVO. We provide quality work, employ the latest marketing and web development techniques, and  implement a workflow process that allows for complete transparency and client collaboration.</p>
                <br>
                <br>
                <p>We believe our work speaks for itself.</p>
            </div>
        </div>
    </div>



    <!--make dynamic with angular-->
    <div class="container" style="margin: 120px auto 0;">
        <div class="wrap" ng-click="select_portfolio('client1')">
            <div class="crop">
                <img src="" style="background-color: #1db996;">
            </div>
        </div>
        <div class="wrap" ng-click="select_portfolio('client2')">
            <div class="crop">
                <img src="" style="background-color: #1db996;">
            </div>
        </div>
        <div class="wrap" ng-click="select_portfolio('client3')">
            <div class="crop">
                <img src="" style="background-color: #1db996;">
            </div>
        </div>
        <div class="wrap" ng-click="select_portfolio('client4')">
            <div class="crop">
                <img src="" style="background-color: #1db996;">
            </div>
        </div>
		    
        <div class="wrap" ng-click="select_portfolio('absolute')">
            <div class="crop">
            	<div class="hovereffect2">
	                <img lass="img-responsive" src="/images/portfolio/absolute/symbol300.png">
	                <div class="overlay2">
				        <h2>Absolute Yachts</h2>
				        <p>
				        	<a href="http://www.absoluteyachtsna.com/">
				                <i class="fa fa-play"></i>
				            </a>
				            <a href="https://www.facebook.com/pages/Absolute-North-America/1467350980243678">
				                <i class="fa fa-facebook"></i>
				            </a>
				            <a href="https://twitter.com/AbsoluteNA">
				                <i class="fa fa-twitter"></i>
				            </a>
				            <a href="https://instagram.com/absoluteyachtsna/">
				                <i class="fa fa-instagram"></i>
				            </a>
				        </p>
				    </div>
				</div>
            </div>
        </div>
        
        <div class="wrap" ng-click="select_portfolio('client1')">
            <div class="crop">
                <img src="" style="background-color: #1db996;">
            </div>
        </div>
        <div class="wrap" ng-click="select_portfolio('client2')">
            <div class="crop">
                <img src="" style="background-color: #1db996;">
            </div>
        </div>
        <div class="wrap" ng-click="select_portfolio('client3')">
            <div class="crop">
                <img src="" style="background-color: #1db996;">
            </div>
        </div>
        <div class="wrap" ng-click="select_portfolio('client4')">
            <div class="crop">
                <img src="" style="background-color: #1db996;">
            </div>
        </div>
    </div>

    <br><br><br>

    <div style="background-color:rgb(0,0,0)">
        <div class="container">
            <div id="absolute" class="info" ng-show="currently_selected=='absolute'">
                <div class="title">Absolute Yachts North America</div>
                <br>
                <br>
                <div class="portfolio-message" style="color:#fff">
                    Absolute is an Italian yacht brand based in Piacenza, Italy, manufacturing yachts
                    ranging from 40 to 72 feet. Communicating the Absolute's focus on design, efficiency, performance
                    and serviceability are a high priority. NOVO is responsible for Absolute North America's online marketing,
                    including web design and development, email marketing, and social media marketing.
                </div>

                <div style="height:50px;"></div>
                <div style="text-align:center;" class="link">
                    <a style="color:#1db996;font-size:30px;" href="www.absoluteyachtsna.com">absoluteyachtsna.com</a>
                </div>
                <div style="height:80px;"></div>

                <a href="http://www.absoluteyachtsna.com/" style="text-align:cener;">
                    <img src="/images/portfolio/absolute/absolute-screenshot.png" class="img-fill" style="width: 100%">
                </a>

            </div>

            <!--on click triangle show-->
            <div id="client1" class="info" ng-show="currently_selected=='client1'">
                <div class="title">Client 1</div>
                <div class="portfolio-message" style="color:#fff">hey client 1</div>
                <div class="link"></div>
                <div style="height:80px;"></div>
                <a href="#" style="text-align:cener;">
                    <img src="/images/portfolio/stock1.jpg" class="img-fill" style="width: 100%">
                </a>
            </div>
            <div id="client2" class="info" ng-show="currently_selected=='client2'">
                <div class="title">Client 2</div>
                <div class="portfolio-message" style="color:#fff">hey client 2</div>
                <div class="link"></div>
                <div style="height:80px;"></div>
                <a href="#" style="text-align:cener;">
                    <img src="/images/portfolio/stock2.jpg" class="img-fill" style="width: 100%">
                </a>
            </div>
            <div id="client3" class="info" ng-show="currently_selected=='client3'">
                <div class="title">Client 3</div>
                <div class="portfolio-message" style="color:#fff">hey client 3</div>
                <div class="link"></div>
                <div style="height:80px;"></div>
                <a href="#" style="text-align:cener;">
                    <img src="/images/portfolio/absolute/absolute-outside.jpg" class="img-fill" style="width: 100%">
                </a>
            </div>
            <div id="client4" class="info" ng-show="currently_selected=='client4'">
                <div class="title">Client 4</div>
                <div class="portfolio-message" style="color:#fff">hey client 4</div>
                <div class="link"></div>
                <div style="height:80px;"></div>
                <a href="#" style="text-align:cener;">
                    <img src="/images/portfolio/vidhop-screenshot.png" class="img-fill" style="width: 100%">
                </a>
            </div>
        </div>
    </div>
</div>