.map-container {
position: relative;
overflow: hidden;
z-index: 15;
border: 1px solid black;
}

.map-container iframe,
.map-container object,
.map-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.surface-container {
    z-index: 20;
    width: 85%;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 100%
}
