a:hover {
	text-decoration: underline;
}

.header {
	width:100%;
}

.large-text {
    font-family: 'Ubuntu', sans-serif;
	font-weight:700;
	font-size:16.5em;
	letter-spacing:.05em
}

.large-medium-text {
	font-family:'Play',sans-serif;
	font-weight:400;
	font-size:14em;
	letter-spacing:-.02em
}

.medium-text {
	font-family:'Play',sans-serif;
	font-weight:400;
	font-size:5em;
	letter-spacing:-.01em
}

.small-text {
	font-family:'Monda',sans-serif;
	font-weight:600;
	font-size:3em;
	letter-spacing:2px;
}

.smaller-text {
	font-family:'Monda',sans-serif;
	font-weight:600;
	color:white;
	font-size:2.25em;
	letter-spacing:2.5px;
}

.smallest-text {
	font-family:'Monda',sans-serif;
	font-weight:600;
	color:white;
	font-size:1.5em;
	letter-spacing:2.5px;
}

.learn-more {
	font-size:2em;
	font-family:'Monda',sans-serif;
	font-weight:400;
	letter-spacing:.35em
}

.mobile {
	visibility:hidden
}

.portfolio-home, .newsletter-home {
	width:100%;
	height:100%;
}

svg text {
	text-anchor:middle
}

.sub-container {
    height:20vh;
}

input:focus {
    outline: none;
}

.ctr {
    display: block;
    position: relative;
    margin-left:auto;
    margin-right:auto;
    width: 450px;
    max-width: 100%;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,.15);
    width: 0%;
    z-index: 99;
    pointer-events: none;
    -webkit-transition: 3s all ease;
    transition: 3s all ease;
}

.loader.full {
    width: 100%;
}

.loader.done {
    background: #14B795;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    height: 0;
}

.green-form {
    line-height: 80px;
    width: 100%;
    font-size: 24px;
    padding: 0 20px;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 10;
    background: transparent;
    color: transparent;
    font-weight: 300;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
}

.green-form.full {
    pointer-events: none !important;
    width: 0%;
}

.indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 5px;
    background: #14B795;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    z-index: 9;
}

.indicator:after {
    content: attr(data-content);
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: 'Monda', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    margin-left:auto;
    margin-right: auto;
    -webkit-transition: inherit;
    transition: inherit;
    z-index: 999;
}

.green-form:focus {
    color: white;
}

.green-form:focus + .indicator {
    height: 100%
}

.green-form.full:focus + .indicator {
    height: 5px;
    color: #14B795;
}

.green-form:focus + .indicator:after {
    color: #14B795;
}

.display-none {
    display: none;
}
.tri-wrap {
    position: relative;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

.section-head {
	padding:70px 0 20px;
}

.section-head h3 {
	font-family:'Monda',sans-serif;
	color:#000;
	font-size:4em;
	font-weight:600;
	margin-left:auto;
	margin-right:auto;
}

.section-head p {
	color:#737373;
	font-size:14px;
	width:60%;
	font-family:'Open Sans',sans-serif;
	line-height:20px;
	margin-top:15px;
}

.icon1 {
	background-position:2px 0;
}

.icon2 {
	background-position:-97px 0;
}

.icon3 {
	background-position:-201px 0;
}

.service-title h2 {
    position: relative;
    text-transform: capitalize;
    z-index: 80;
	font-family: 'Quicksand', sans-serif;
	font-size: 2.2em !important;
	font-weight: 300 !important;
	line-height: 200%;
	color:white;
	margin-top: -250px;
	margin-bottom: 10px;
}

.service-title-bar {
    color: white !important;
    background: rgba(0,0,0,0.65);
    border: 1px solid white;
    transition: background 0.3s;
    padding: 15px;
    z-index: 80;
	font-family: 'Quicksand', sans-serif;
	font-size: 5em !important;
	letter-spacing: 2px;
	font-weight: 300 !important;
    text-transform: uppercase;
}

.service-title-bar:hover {
    color: white;
    background: rgba(42,185,150, 1.0);
}

.service-des {
	font-family: 'Quicksand', sans-serif;
	color:#222;
	background: rgba(255,255,255,0.8);
	border: 1px solid black;
	z-index: 85;
    height: 100px;
	position: relative;
	margin-top:30px;
	font-size: 1.75em;
    font-weight: bold;
	padding: 2%;
    text-transform: capitalize;
    text-align: center;
}

.name {
	font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: #14B795;
    font-weight: 800 !important;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-top: 10px;
}

.port {
	border-top: 5px solid #14B795;
	box-shadow: inset 0 0 50px #14B795;
    position: relative;
    top: 0;
    overflow:hidden;
}

.port-box {
	position: absolute;
	overflow:hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.port-container {
    cursor: default;
    height: 30vh;
    min-height: 250px;
    z-index: 1;
}

.port--fill {
	fill:rgba(0,0,0,0.75);
}

.port-box a:hover #port-rect {
    fill: rgba(45,185,150,0.1);
    transition: fill .2s;
}

.port-box a #fill-hover {
    fill: rgba(255,255,255,0.15);
}

.port-box a:hover #fill-hover {
	text-shadow:
		-1px -1px 0 rgba(255,255,255,0.75),  
		 1px -1px 0 rgba(255,255,255,0.75),
		-1px 1px 0 rgba(255,255,255,0.75),
		 1px 1px 0 rgba(255,255,255,0.75);
    fill: #14B795;
    transition: fill .2s;
}

.contact {
	border-top: 5px solid #14B795;
    box-shadow: inset 0 0 50px #14B795;
    position: relative;
    top: 0;
    overflow:hidden;
}

.contact-box {
	position: absolute;
	overflow:hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.contact-container {
    cursor: default;
    height: 30vh;
    min-height: 250px;
    z-index: 1;
}

.text-fill img{
	position: absolute;
	top: -20%;
	left: 0%;
	width: 100%;
	z-index: -4;
	overflow: hidden;
}

.contact--fill {
	fill:rgba(0,0,0,0.75);
}

.contact-box a:hover #contact-rect {
    fill: rgba(45,185,150,0.1);
    transition: fill .2s;
}

.contact-box a #fill-hover {
    fill: rgba(255,255,255,0.15);
}

.contact-box a:hover #fill-hover {
	text-shadow:
		-1px -1px 0 rgba(255,255,255,0.75),  
		 1px -1px 0 rgba(255,255,255,0.75),
		-1px 1px 0 rgba(255,255,255,0.75),
		 1px 1px 0 rgba(255,255,255,0.75);	
    fill: #14B795;
    transition: fill .2s;
}

#contact-img-desktop {
   display:block;
  }

#contact-img-mobile {
   display:none;
}

.mobile-intro-top {
	display:none;
}

.about-container {
	background: #fff;
	position: relative;
	height: 100vh;
	max-height: 100vh;
	width:100%;
	z-index: 3
}

.absolute-center {
	position:relative;
	width:300px;
	height:222px
}

.device {
	background:#000;
	position:relative;
	overflow:hidden;
	width:100%;
	padding-top:70%;
	margin:0 auto;
	border:2px solid #ebcb63;
	border-radius:6px;
	box-shadow:10px 10px 0 -2px #202126,10px 10px 0 rgba(255,255,255,0.1);
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	-webkit-animation:morphDevice 10s infinite cubic-bezier(1,0.015,0.295,1.225) forwards;
	animation:morphDevice 10s infinite cubic-bezier(1,0.015,0.295,1.225) forwards
}

.device figcaption {
	position:absolute;
	top:12px;
	left:12px;
	width:10px;
	height:10px;
	background:rgba(255,255,255,0.1);
	box-shadow:15px 0 0 rgba(255,255,255,0.1),30px 0 0 rgba(255,255,255,0.1);
	border-radius:50%;
	-webkit-animation:morphButtons 10s infinite cubic-bezier(1,0.015,0.295,1.225) forwards;
	animation:morphButtons 10s infinite cubic-bezier(1,0.015,0.295,1.225) forwards;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden
}

@-webkit-keyframes morphDevice {
0%,15% {
	width:100%;
	padding-top:70%;
	margin-top:0;
	border-color:#ebcb63;
	box-shadow:10px 10px 0 -2px #202126,10px 10px 0 rgba(255,255,255,0.1);
	-webkit-transform:rotate(0);
	transform:rotate(0)
}

25%,40% {
	width:70%;
	padding-top:55%;
	margin-top:7.5%;
	border-color:#4b8ac4;
	box-shadow:9px -9px 0 -2px #202126,9px -9px 0 rgba(255,255,255,0.1);
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg)
}

50%,65% {
	width:28%;
	padding-top:42%;
	margin-top:15%;
	border-color:#ece9f2;
	box-shadow:-8px -8px 0 -2px #202126,-8px -8px 0 rgba(255,255,255,0.1);
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg)
}

75%,90% {
	width:55%;
	padding-top:70%;
	margin-top:0;
	border-color:#57c39f;
	box-shadow:-9px 9px 0 -2px #202126,-9px 9px 0 rgba(255,255,255,0.1);
	-webkit-transform:rotate(270deg);
	transform:rotate(270deg)
}

100% {
	width:100%;
	padding-top:70%;
	margin-top:0;
	border-color:#ebcb63;
	box-shadow:10px 10px 0 -2px #202126,10px 10px 0 rgba(255,255,255,0.1);
	-webkit-transform:rotate(360deg);
	transform:rotate(360deg)
}
}

@keyframes morphDevice {
0%,15% {
	width:100%;
	padding-top:70%;
	margin-top:0;
	border-color:#ebcb63;
	box-shadow:10px 10px 0 -2px #202126,10px 10px 0 rgba(255,255,255,0.1);
	-webkit-transform:rotate(0);
	transform:rotate(0)
}

25%,40% {
	width:70%;
	padding-top:55%;
	margin-top:7.5%;
	border-color:#4b8ac4;
	box-shadow:9px -9px 0 -2px #202126,9px -9px 0 rgba(255,255,255,0.1);
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg)
}

50%,65% {
	width:28%;
	padding-top:42%;
	margin-top:15%;
	border-color:#ece9f2;
	box-shadow:-8px -8px 0 -2px #202126,-8px -8px 0 rgba(255,255,255,0.1);
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg)
}

75%,90% {
	width:55%;
	padding-top:70%;
	margin-top:0;
	border-color:#57c39f;
	box-shadow:-9px 9px 0 -2px #202126,-9px 9px 0 rgba(255,255,255,0.1);
	-webkit-transform:rotate(270deg);
	transform:rotate(270deg)
}

100% {
	width:100%;
	padding-top:70%;
	margin-top:0;
	border-color:#ebcb63;
	box-shadow:10px 10px 0 -2px #202126,10px 10px 0 rgba(255,255,255,0.1);
	-webkit-transform:rotate(360deg);
	transform:rotate(360deg)
}
}

@-webkit-keyframes morphButtons {
0%,15%,100% {
	top:12px;
	left:12px;
	margin:0;
	background:#ebcb63;
	box-shadow:15px 0 0 rgba(255,255,255,0.1),30px 0 0 rgba(255,255,255,0.1);
	-webkit-transform:scale(1);
	transform:scale(1)
}

25%,40% {
	top:50%;
	left:100%;
	margin:-5px 0 0 -20px;
	background:#4b8ac4;
	box-shadow:0 0 0 250px rgba(255,255,255,0.05),0 0 0 100px transparent;
	-webkit-transform:scale(0.9);
	transform:scale(0.9)
}

50%,65% {
	top:10px;
	left:50%;
	margin:0 0 0 -5px;
	background:#ece9f2;
	box-shadow:0 -30px 0 rgba(255,255,255,0.05),0 -30px 0 rgba(255,255,255,0.05);
	-webkit-transform:scale(0.8);
	transform:scale(0.8)
}

75%,90% {
	top:100%;
	left:50%;
	margin:-20px 0 0 -5px;
	background:#57c39f;
	box-shadow:0 0 0 250px rgba(255,255,255,0.05),0 0 0 100px transparent;
	-webkit-transform:scale(0.9);
	transform:scale(0.9)
}
}

@keyframes morphButtons {
0%,15%,100% {
	top:12px;
	left:12px;
	margin:0;
	background:#ebcb63;
	box-shadow:15px 0 0 rgba(255,255,255,0.1),30px 0 0 rgba(255,255,255,0.1);
	-webkit-transform:scale(1);
	transform:scale(1)
}

25%,40% {
	top:50%;
	left:100%;
	margin:-5px 0 0 -20px;
	background:#4b8ac4;
	box-shadow:0 0 0 250px rgba(255,255,255,0.05),0 0 0 100px transparent;
	-webkit-transform:scale(0.9);
	transform:scale(0.9)
}

50%,65% {
	top:10px;
	left:50%;
	margin:0 0 0 -5px;
	background:#ece9f2;
	box-shadow:0 -30px 0 rgba(255,255,255,0.05),0 -30px 0 rgba(255,255,255,0.05);
	-webkit-transform:scale(0.8);
	transform:scale(0.8)
}

75%,90% {
	top:100%;
	left:50%;
	margin:-20px 0 0 -5px;
	background:#57c39f;
	box-shadow:0 0 0 250px rgba(255,255,255,0.05),0 0 0 100px transparent;
	-webkit-transform:scale(0.9);
	transform:scale(0.9)
}
}

.ir {
	font:0/0 a;
	text-shadow:none;
	color:transparent
}


@media only screen and (max-width: 620px) {

.port {
	border-right: none;
}

.contact {
	border-left: none;
}

.port-mobile {
	display:block;
}

#contact-img-desktop {
   display:none;
}

#contact-img-mobile {
   display:block;
}

.contact-box a #fill-hover {
    fill: rgba(255,255,255,0.5);
    transition: fill .2s;
}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
.banner {
	padding-top:10%
}

.banner-text {
	margin-top:0
}

.desc {
	padding:50px 0 75px
}

.interested,.interested-home {
	font-size:1em!important
}

.small-medium {
	padding-bottom:15%!important
}

.opacity {
	opacity:1!important
}
}

@media only screen and (max-width: 900px) {

.mobile-pad {
	margin-bottom: 5%;
}

h2 {
	font-size:45px
}

p.under-tagline {
	font-size:18px
}

.banner-text h2 {
	font-size:45px;
	font-weight:500;
	line-height:1.5
}

.banner-text p {
	font-size:20px;
	font-weight:500
}

.services-list i {
	color:#14B795;
	padding-bottom:0;
	padding-top:40px
}

.small-medium {
	padding-bottom:15%!important
}

.opacity {
	opacity:1!important
}
}

@media only screen and (max-width: 767px) {
h2 {
	font-size:35px
}
}

@media only screen and (max-width: 450px) {
.services-list h2 {
	font-size:25px!important
}

.section-head h3 {
	font-size:35px
}
}