@import url(https://fonts.googleapis.com/css?family=Squada+One|Days+One|Ubuntu:400,500,700);

html, body {
  	height: 100%; margin:0; padding:0; 
}

.intro {
    position: relative;
    top: 0;
}

.intro-container {
    cursor: default;
	min-height:100vh;
	min-width:100vw;
	height:100%;
	width:100%;
    z-index: 1;
}

.intro-img {
   visibility: hidden;
   position: absolute;
   top: 0%;
   left: 0%;
   min-width: 100%;
   min-height: 100%;
   z-index: -4;
   overflow: hidden;
   background: url(/images/pen.jpg);
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

/* intro shit */
.mask__shape {
	fill:#fff
}

.shape--fill {
	fill:rgba(0,0,0,0.65);
	min-width:100%;
	min-height:100%
}

.text--transparent {
	fill:transparent;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.box-with-text {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.text-fill {
	z-index:-5;
	margin:auto;
	overflow:hidden
}

.video {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	min-width: 100%;
	min-height: 100%;
	z-index:-5
}

.svg-defs {
	width:0;
	height: 0
}

.svg-inverted-mask {
    min-width: 100%;
    min-height: 100%;
    margin: auto;
    overflow: auto;
	z-index:2
}
/* end intro shit */

.large-text {
    font-family: 'Ubuntu', sans-serif;
	font-weight:700;
	font-size:16.5em;
	letter-spacing:.05em
}

.large-medium-text {
	font-family:'Jura',sans-serif;
	font-weight:400;
	font-size:14em;
	letter-spacing:-.02em
}

.medium-text {
	font-family:'Jura',sans-serif;
	font-weight:400;
	font-size:5em;
	letter-spacing:-.04em
}

.small-text {
	font-family:'Jura',sans-serif;
	font-weight:600;
	font-size:3em;
	letter-spacing:2px;
}

.learn-more {
	font-size:25px!important;
	font-weight:700;
	letter-spacing:-.05em
}

.mobile {
	visibility:hidden
}

/* Bob */
@-webkit-keyframes hvr-bob {
0% {
	-webkit-transform:translateY(-8px);
	transform:translateY(-8px)
}

50% {
	-webkit-transform:translateY(-4px);
	transform:translateY(-4px)
}

100% {
	-webkit-transform:translateY(-8px);
	transform:translateY(-8px)
}
}

@keyframes hvr-bob {
0% {
	-webkit-transform:translateY(-8px);
	transform:translateY(-8px)
}

50% {
	-webkit-transform:translateY(-4px);
	transform:translateY(-4px)
}

100% {
	-webkit-transform:translateY(-8px);
	transform:translateY(-8px)
}
}

@-webkit-keyframes hvr-bob-float {
100% {
	-webkit-transform:translateY(-8px);
	transform:translateY(-8px)
}
}

@keyframes hvr-bob-float {
100% {
	-webkit-transform:translateY(-8px);
	transform:translateY(-8px)
}
}

.hvr-bob {
	cursor:pointer;
	display:inline-block;
	vertical-align:middle;
	-webkit-transform:translateZ(0);
	transform:translateZ(0);
	box-shadow:0 0 1px rgba(0,0,0,0);
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	-moz-osx-font-smoothing:grayscale
}

.hvr-bob:hover,.hvr-bob:focus,.hvr-bob:active {
	-webkit-animation-name:hvr-bob-float,hvr-bob;
	animation-name:hvr-bob-float,hvr-bob;
	-webkit-animation-duration:.3s,1.5s;
	animation-duration:.3s,1.5s;
	-webkit-animation-delay:0s,.3s;
	animation-delay:0s,.3s;
	-webkit-animation-timing-function:ease-out,ease-in-out;
	animation-timing-function:ease-out,ease-in-out;
	-webkit-animation-iteration-count:1,infinite;
	animation-iteration-count:1,infinite;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
	-webkit-animation-direction:normal,alternate;
	animation-direction:normal,alternate
}

/* media queries */
@media only screen and (max-width: 1024px) {
video {
	display:none
}

.intro-img {
	visibility:visible;
	height:100%
}
}
@media only screen and (max-width: 788px) {
.desktop {
	visibility:hidden
}

.mobile {
	visibility:visible
}
}