.page-nav-zone {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    text-align: center;
    top:0;
    opacity: 1;
    width:67px;
    height:100%;
    background-color: transparent;
    transition: width ease-in-out 0.3s;
    z-index: 5000;
    overflow: hidden;
}

.item-container {
    margin-top: 50px;
    width: 100%;
    height: 10%;
    display: table;
    position: relative;
    transition: background-color ease-in-out 0.3s;
}

.list-item {
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 23px;
    transition: font-size ease-in-out 0.2s;
}

.flex-item-top {
    align-self: flex-start;
}

.flex-item-bottom {
    align-self: flex-end;
}

.nav-large-list {
    position: absolute;
    right: 0;
    padding-bottom:100px;
    height: 64px;
    width: 220px;
    z-index: 5002;
    transition: width ease-in-out 0.2s;
}

.nav-logo {
    transition: none;
}

#logo-container {
    top: -85px;
}

.nav-small-list {
    position: absolute;
    display:none;
    left: 0;
    width: 64px;
    height: 64px;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 5003;
    align-items: center;
}
.page-nav-zone:hover .nav-large-list #sidebar-logo {
    margin-left: 0px;
}
#sidebar-logo {
    margin-top:0px;
    margin-left: -500px;
}

@media screen and (max-width: 720px) {
.side-bars {
    display:none;
}
.nav-small-list, .nav-small-list img {
    position: absolute;
    display:block;
    left: 0;
    width: auto;
    height: 30px;
    padding-left: 10px;
    z-index: 5003;
    align-items: center;
}
.page-nav-zone {
    width: 50px;
}
.page-nav-zone {
    opacity: 1.0;
    background: rgb(0, 0, 0);
    left: 0;
    box-shadow: 1px 0px 5px #14B795;
}
}
.side-bars {
    position: absolute;
    margin-left: 35px;
    margin-top: 35px;
    width: auto;
    height: auto;
    z-index: 4999;
    align-items: center;
}

.icon-bar {
    background: #fff;
    width: 35px;
    height: 5px;
    margin-bottom: 5px;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

.page-nav-zone:hover .nav-large-list {
    width: 284px;
}

.opacity {
    opacity: 0.7;
    transition: opacity ease-in-out 0.2s;
}

.opacity:hover {
    opacity: 1.0;
}

.top-right {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    margin: 5%;
    color: #fff;
    z-index: 5003;
    font-size: 60px;
}

.page-nav-zone:hover .top-right {
    display: visible;
}

/* media queries */
/* The only way to get your rule to apply only when the media query isn't satisfied is to isolate it in a negated version of the query */
@media not screen and (max-width: 720px) {
    .page-nav-zone:hover {
        width: 284px;
        opacity: 1.0;
        background: rgba(20, 183, 149, 0.75);
    }
    .list-item:hover {
        font-size: 40px;
    }
}

@media screen and (max-width: 720px) {
    #logo-container {
        display:none;
    }
}