@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:400,700);

* {
	list-style: none;
    //-webkit-user-select: none;
    //-khtml-user-select: none;
    //-moz-user-select: none;
    //-ms-user-select: none;
    //user-select: none;
}

#main-container {
	height:100vh;
}

html,body {
	height:100%;
	-webkit-overflow-scrolling: touch!important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizelegibility;
	color:#000;
	text-align:center;
	margin:0;
	padding:0;
	cursor:default;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

.surface-container-home {
	position: relative;
	z-index: 4;
	margin-left: auto;
    margin-right: auto;
	width:100%;
	height: auto;
}

.footer {
	position:relative;
	text-align: center;
	font-family:'Quicksand',sans-serif;
	z-index:50;
	width:100%;
	bottom: 0!important;
	font-weight: 400;
	height: 45px;
    min-height: 45px;
    padding: 1%;
    background: white;
    color: black;
    font-size: 1.1em;
    letter-spacing: .3em;
}

@media screen and (max-width: 720px) {
	.page-nav-zone {
		display:none;
	}
}
h1, h2, h3, h4, h5, h6, p, .btn, .navbar-nav a, .form-control, .list-inline, small, #pricing {
  font-family: 'Montserrat', sans-serif;
}

p, .lead {
	font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 55px;
  line-height: 55px;
  letter-spacing: -1px;
  color: #ffffff;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  line-height: 40px;
  etter-spacing: -0.5px;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0px;
  color: #231f20;
  font-weight: 700;
}

.lead {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 400;
}

p {
  font-size: 17px;
  line-height: 22px;
  color: #929496;
  font-weight: 400;
}

a {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
  color: #231f20;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}


.flex {
	display:flex;
	flex-direction:row;
	justify-items:center;
	wrap:wrap
}

.center {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	width:100%;
	max-width:100%;
	text-align:center
}

.title {
	font-family:'Jura',sans-serif;
	font-weight:600;
	font-size:50px;
	color:#14B795;
	font-weight:600;
	margin-right:auto;
	margin-left:auto;
	margin-top:50px;
	text-align:left;
}

.message {
	font-size:1.3em;
	margin-right:auto;
	margin-left:auto;
	text-align:center;
	font-family:'Quicksand',sans-serif
}

/* effect 12 */
.hover-info {
	color:#fff;
	font-size:20px;
	font-family:'Quicksand',sans-serif;
	padding:2%;
	visibility:hidden;
	margin-left:auto;
	margin-right:auto
}

.hovereffect {
	width:100%;
	height:100%;
	float:left;
	overflow:hidden;
	position:relative;
	text-align:center;
	cursor:default;
	background:#14B795
}

.hovereffect .overlay {
	font-family:'Quicksand',sans-serif;
	font-weight:600;
	font-size:18px;
	width:100%;
	height:100%;
	position:absolute;
	overflow:hidden;
	top:0;
	left:0;
	padding-left:30px;
	padding-right:30px;
	margin-top:-23px
}

.hovereffect img {
	display:block;
	position:relative;
	max-width:none;
	width:calc(100% + 20px);
	-webkit-transition:opacity 0.35s,-webkit-transform .35s;
	transition:opacity 0.35s,transform .35s;
	-webkit-transform:translate3d(-10px,0,0);
	transform:translate3d(-10px,0,0);
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden
}

.hovereffect:hover img {
	opacity:.2;
	filter:alpha(opacity=40);
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0)
}

.hovereffect h2 {
	text-transform:uppercase;
	color:#fff;
	text-align:center;
	position:relative;
	font-size:17px;
	overflow:hidden;
	padding:.5em 0;
	background-color:transparent
}

.hovereffect:hover .hover-info {
	visibility:visible
}

.hovereffect h2:after {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:2px;
	background:#fff;
	content:'';
	-webkit-transition:-webkit-transform .35s;
	transition:transform .35s;
	-webkit-transform:translate3d(-100.5%,0,0);
	transform:translate3d(-100.5%,0,0)
}

.hovereffect:hover h2:after {
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0)
}

.hovereffect a,.hovereffect p {
	color:#FFF;
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transition:opacity 0.35s,-webkit-transform .35s;
	transition:opacity 0.35s,transform .35s;
	-webkit-transform:translate3d(100%,0,0);
	transform:translate3d(100%,0,0)
}

.hovereffect:hover a,.hovereffect:hover p {
	opacity:1;
	filter:alpha(opacity=100);
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0)
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
.hovereffect a,.hovereffect p {
	opacity:1;
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	font-family:'Quicksand',sans-serif;
	font-size:15px;
	padding-top:20px;
	text-decoration:underline
}

.black {
	background-color:#000!important;
	opacity:.7!important
}
}

.nav {
	font-family:Jura;
	font-size:20px
}

.active span {
	color:#14B795
}

.activeicon i {
	color:#14B795
}

.wrapper,.row {
	height:100%;
	margin-left:0;
	margin-right:0
}

.wrapper:before,.wrapper:after,.column:before,.column:after {
	content:"";
	display:table
}

.wrapper:after,.column:after {
	clear:both
}

.column {
	height:100%;
	overflow:auto;
	*zoom:1
}

.column .padding {
	padding:20px
}

.full {
	padding-top:70px
}

.box {
	bottom:0;
	left:0;
	position:absolute;
	right:0;
	top:0;
	background-color:#000
}

.divider {
	margin-top:32px
}

#main {
	background-color:#e9eaed;
	padding-left:0;
	padding-right:0
}

#lg-menu {
	margin-left:auto;
	margin-right:auto;
	margin-top:60px;
	margin-bottom:100px;
	min-width:175px
}

#lg-menu img {
	width:175px;
	min-width:175px
}

#sidenav {
	margin-bottom:150px
}

#sidenav li {
	margin-bottom:20px
}

#sidebar {
	padding:0;
	padding-top:15px
}

#sidebar,#sidebar a,#sidebar-footer a {
	color:#fff;
	background-color:#000
}

#sidebar .nav li>a:hover {
	background-color:#393939
}

#sidebar-footer {
	background-color:#000;
	bottom:5px;
	padding:5px
}

#social {
	background-color:#000;
	position:absolute;
	padding-top:75px
}

#xs img {
	padding-top:50px;
	padding-right:0;
	margin-left:0
}

#xs-menu {
	margin-top:100px
}

#xs-menu-2 {
	display:none
}

#lg-2 {
	margin-top:75px
}

#social-sm {
	margin-top:0
}

#footer {
	margin-bottom:20px
}

.btn-primary,.label-primary,.list-group-item.active,.list-group-item.active:hover,.list-group-item.active:focus {
	background-color:#3B5999;
	color:#fffffe
}

.btn-default {
	color:#666;
	text-shadow:0 0 1px rgba(0,0,0,.3)
}

.badge {
	color:#3B5999;
	background-color:#fff
}

.badge:hover,.badge-inverse {
	background-color:#3B5999;
	color:#fff
}

.label-default {
	background-color:#ddd
}

.page-header {
	margin-top:55px;
	padding-top:9px;
	border-top:1px solid #eee;
	font-weight:700;
	text-transform:uppercase;
	letter-spacing:2px
}

.panel-default .panel-heading {
	background-color:#f9fafb;
	color:#555
}

.col-sm-9.full {
	width:100%
}

small.text-muted {
	font-family:courier,courier-new,monospace
}

@media (max-width: 768px) {
	.column .padding {
		padding:7px
	}

	.full {
		padding-top:20px
	}
}

@media screen and (max-width: 767px) {
	.row-offcanvas {
		position:relative;
		-webkit-transition:all .25s ease-out;
		-moz-transition:all .25s ease-out;
		transition:all .25s ease-out
	}

	#sidenav {
		margin-bottom:0
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	#sidebar-footer {
		display:none
	}

	#sidenav {
		margin-bottom:0
	}
}

@media screen and (min-width: 438px) and (max-width: 991px) {
	#xs img {
		width:50px
	}

	#social-sm {
		display:block!important;
		margin-top:50px
	}

	#social-sm a {
		margin-top:2.5px;
		margin-bottom:2.5px
	}

	#social {
		display:none!important
	}
}

@media screen and (min-width: 438px) and (max-width: 767px) {
	#xs-menu-2 {
		display:block;
		margin-top:60px
	}

	#xs-menu-2 a {
		margin-bottom:25px
	}

	#xs-menu {
		display:none!important
	}
}

@media screen and (max-width: 437px) {
	#xs img {
		width:35px
	}
}